<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Usuário</title>
</head>
<body>
<div layout:fragment="conteudo">

    <form th:action="@{/usuario/cadastrar}"
          th:object="${usuario}" method="post">
        <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
            <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
        </div>
        <input th:field="*{id}" type="hidden">
        <div class="form-group">
            <label for="nome">Nome:</label>
            <input th:field="*{nome}" id="nome" class="form-control" maxlength="100" required>
        </div>
        <div class="form-group">
            <label for="email">E-mail:</label>
            <input th:field="*{email}" id="email" class="form-control" maxlength="100" required>
        </div>
        <div class="form-group">
            <label for="senha">Senha:</label>
            <input th:field="*{senha}" id="senha" class="form-control" maxlength="60" required>
        </div>
        <div class="form-group">
            <label for="telefone">Telefone:</label>
            <input th:field="*{telefone}" id="telefone" class="form-control" maxlength="15">
        </div>
        <div class="form-group">
            <label for="cpf">CPF:</label>
            <input th:field="*{cpf}" id="cpf" class="form-control" maxlength="11">
        </div>
        <div class="form-group">
            <label for="cnpj">CNPJ:</label>
            <input th:field="*{cnpj}" id="cnpj" class="form-control" maxlength="14">
        </div>
        <button class="btn btn-success btn-block">Cadastrar</button>
    </form>
</div>
<div layout:fragment="rodape"></div>
</body>
</html>