<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">
<head>
    <meta charset="UTF-8">
    <title>Lista de Usuários</title></head>
<body>
<div layout:fragment="conteudo">
    <div class="alert alert-success" th:if="${msg !=null}" th:text="${msg}"></div>
    <table class="table">
        <tr>
            <th>Nome</th>
            <th>E-mail</th>
            <th>CPF</th>
            <th>CNPJ</th>
            <th></th>
        </tr>
        <tr th:each="user:${usuario}">
            <td th:text="${user.nome}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.cpf}"></td>
            <td th:text="${user.cnpj}"></td>

            <td><a th:href="@{/usuario/editar/}+${user.id}" class="btn btn-outline-primary">Editar</a>
                <button th:onclick="|usuarioId.value = ${user.id}|" type="button"
                        class="btn btn-outline-danger btn-sm" data-toggle="modal" data-target="#exampleModal">Excluir
                </button>
            </td>
        </tr>
    </table>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header"><h5 class="modal-title" id="exampleModalLabel">Deseja excluir o usuário?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar"><span
                            aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form th:action="@{/usuario/excluir}" method="post"><input type="hidden" name="id"
                                                                               id="usuarioId">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
                        <button type="submit" class="btn btn-danger">Sim</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div layout:fragment="rodape"></div>
</body>
</html>