<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">
<head>
    <meta charset="UTF-8">
    <title>Home</title></head>
<body>
<div layout:fragment="conteudo">
    <div class="alert alert-success" th:if="${msg !=null}" th:text="${msg}"></div>
    <div class="row">
        <div class="col-12 text-center"><h1>Bem vindo ao Fleming Melhor Saúde</h1></div>
        <div class="col-sm-4"></div>
        <div class="col-sm-8">
            <div class="card">
                teste
            </div>
            <div class="card">
                teste
            </div>
            <div class="card">
                teste
            </div>
            <div class="card">
                teste
            </div>
        </div>
    </div>


</div>
<div layout:fragment="rodape"></div>
</body>
</html>